@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 153.1deg 60.2% 52.7%;
  --secondary: 0, 0%, 11%;
  --colors-gray-dark-300: 0deg 0% 13.7%;
  --border_primary: 153.1deg 60.2% 52.7%;
  /* --secondary: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 153.1deg 60.2% 52.7%;
    --border_primary: 153.1deg 60.2% 52.7%;
    --secondary: 0, 0%, 11%;

    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--secondary));
  background: #0d1117;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
